html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Calibri';
    src: url('../webfonts/Calibri.woff2') format('woff2'),
        url('../webfonts/Calibri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri';
    src: url('../webfonts/Calibri-Bold.woff2') format('woff2'),
        url('../webfonts/Calibri-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Frutiger';
    src: url('../webfonts/FrutigerBold.woff2') format('woff2'),
        url('../webfonts/FrutigerBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Frutiger';
    src: url('../webfonts/Frutiger.woff2') format('woff2'),
        url('../webfonts/Frutiger.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Section */
.section-wrapper {
    padding-block: 3.125rem;
    @include media-breakpoint-up(md) {
        padding-block: 6.25rem;
    }
}
.grey-bg {
    background-color: map-get($white-color, '800' );
}
.section-title {
    font-size: var(--3x-large);
}
.section-text {
    font-size: var(--x-large);
}
.section-link {
    color: map-get($dark-color, '900' );
    font-size: var(--x-large);
    transition: color .3s ease-in-out;
    &:hover,
    &:focus {
        color: map-get($primary-color, '800' );
    }
}


/* Cotización */
.cotizacion {
    padding-block-start: 0;
    padding-block-end: 3.125rem;
    @include media-breakpoint-up(md) {
        padding-block: 6.25rem;
    }
}