html {
    scroll-behavior: smooth;
}

/* Section */
.section-wrapper {
    padding-block: 6.25rem;
    
    &.grey-bg {
        background-color: map-get($white-color, '800' );
    }
}
.section-title {
    font-size: map-get($sizes, '3x-large' );
}
.section-text {
    font-size: map-get($sizes, 'x-large' );
}
.section-link {
    color: map-get($black-color, '900' );
    font-size: map-get($sizes, 'x-large' );
}


/* Orientation */
%mobile-orientation {
    flex-direction: column;
    @include breakpoint-up(map-get($breakpoints, 'medium')) {
        flex-direction: row; 
    }
}

/* Keyframes */

// Code animation
@keyframes horizontalMove {
    0% {
        -webkit-transform: translateX(150px);
        -ms-transform: translateX(150px);
        transform: translateX(150px);
    }
    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

// Gear Rotation
@keyframes rotation {
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}