.comunidad {

    &__icon {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        p {
            font-size: map-get($sizes, 'large' );
        }

    }

}