.logos-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-inline: auto;
    width: min(100% - 2rem, 75rem);
    
    @include media-breakpoint-up(md) {
        grid-template-columns: repeat(7, 1fr);
    }

}