.whatsapp-chat {
    align-items: center;
    background-color: $whatsapp-color;
    border-radius: $br;
    bottom: 1.25rem;
    box-shadow: 0px 14px 30px -12px rgba(map-get($dark-color, '800' ), .6);
    display: flex;
    font-size: map-get($sizes, 'large' );
    gap: .625em;
    left: 1.25rem;
    padding: .625em 1.25em;
    position: fixed;
    text-decoration: none;
    
    @include media-breakpoint-up(md) {
        bottom: 3.125rem;
        left: 3.125rem;
    }

    img {
        width: 2.5rem;
    }

    span {
        color: map-get($white-color, '900' );
    }

}