.footer {
    background-color: map-get($primary-color, '900' );
    font-family: $link-ff;
    padding-block: 1.875rem;
    
    // Wrapper
    .footer-wrapper {  
        align-items: center;      
        display: flex;
        justify-content: space-between;
        @extend %mobile-orientation;
        @include breakpoint-down(map-get($breakpoints, 'medium')) {
            gap: .9375rem;
        }
    }

}