.footer {
    background-color: map-get($primary-color, '900' );
    display: flex;
    justify-content: center;
    padding-block: 1.875rem;

    &__link {
        color: map-get($dark-color, '900' );
        font-size: var(--fs-h4);
        text-decoration: none;
        transition: color .3s ease-in-out;
        &:hover,
        &:focus {
            color: map-get($white-color, '900' );
        }
    }
}